<div class="group">
    <input id="{{name}}" type="{{type}}" name="{{name}}" required value="{{value}}"/>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label for="{{name}}">{{label}}</label>
    <div class="error_message">{{error_message}}</div>
</div>